.form-group
  = f.label :Username
  = f.text_field :username  , id: 'username', class: 'form-control'
.form-group
  = f.label :Email
  = f.email_field :email  , id: 'email', class: 'form-control'
.form-group
  = f.label :password
  = f.password_field :password  , id: 'password', class: 'form-control'
.text-center
  = f.submit "Sign Up", class: 'btn btn-primary'