auth-main-content.auth-bg-image
  .d-table
    .d-tablecell
      .auth-box
        .row.align-items-center
          .col-md-6
            .form-left-content
              .auth-logo
                = image_tag('large-logo.png', alt: 'Logo')
              .login-links
                a.fb href="#"
                  i.icon data-feather="facebook"
                  | Sign Up with Facebook
                a.twi href="#"
                  i.icon data-feather="twitter"
                  | Sign Up with Twitter
                a.ema href="#"
                  i.icon data-feather="mail"
                  | Sign Up with Email
                a.linkd href="#"
                  i.icon data-feather="linkedin"
                  | Sign Up with Linkedin
          .col-md-6
            .form-content
              h1.heading Sign Up
              = form_for @user, url: edit_auth_registration_path, html: { method: :post} do |f|
                = render 'form', f: f