.auth-main-content.auth-bg-image
  .d-table
    .d-tablecell
      .auth-box
        .row.align-items-center
          .col-md-6
            .form-left-content
              .auth-logo
                = image_tag('large-logo.png', alt: 'Logo')
              .login-links
                a.fb href="#"
                  i.icon data-feather="facebook"
                  | Sign Up with Facebook
                a.twi href="#"
                  i.icon data-feather="twitter"
                  | Sign Up with Twitter
                a.ema href="#"
                  i.icon data-feather="mail"
                  | Sign Up with Email
          .col-md-6
            .form-content
              h1.heading Forgot password
              form
                .form-group
                  label.form-label Email address
                  input#email.form-control type="email" /
                .text-center
                  button.btn.btn-primary type="submit"  Reset Password
                  = link_to new_auth_session_path, class: 'fp-link'
                    | Log In