.auth-main-content.auth-bg-image
  .d-table
    .d-tablecell
      .auth-box
        .row.align-items-center
          .col-md-6
            .form-left-content
              .auth-logo
                = image_tag('large-logo.png', alt: 'Logo')

              .login-links
                a.fb href="#"
                  i data-feather="facebook" class="icon"
                    | Sign Up with Facebook
                a.twi href="#"
                  i data-feather="twitter" class="icon"
                    | Sign Up with Twitter
                a.ema href="#"
                  i data-feather="mail" class="icon"
                    | Sign Up with Email
                a.linkd href="#"
                  i data-feather="linkedin" class="icon"
                    | Sign Up with Linkedin
          .col-md-6
            .form-content
              h1.heading Log In
              = form_for @user, url: auth_sessions_path, html: { method: :post} do |f|
                .form-group
                  = f.label :Email, class: 'form-label'
                  = f.email_field :email, class: 'form-control', id: 'email'
                .form-group
                  = f.label :password, class: 'form-label'
                  = f.password_field :password, class: 'form-control', id: 'password'
                .text-center
                  = f.submit "Log In", class: 'btn btn-primary'
                  = link_to forgot_password_auth_registration_path, class: 'fp-link'
                    | Forgot Password?