.form-group
  = f.label :avatar, class: 'form-label'
  = f.file_field :avatar, class: 'form-control form-control-file'
  small.text-muted.form-text Picture size 80 x 80 pixels.
.form-group
  = f.label :first_name, class: 'form-label'
  = f.text_field :first_name, class: 'form-control'
.form-group
  = f.label :last_name, class: 'form-label'
  = f.text_field :last_name, class: 'form-control'
.form-group
  = f.label :birthdate, class: 'form-label'
  = f.date_field :birthdate, class: 'form-control'
.form-group
  = f.label :phone_number, class: 'form-label'
  = f.text_field :phone_number, class: 'form-control'
.form-group
  = f.label :address, class: 'form-label'
  = f.text_area :address, class: 'form-control'
.text-center
  = f.submit "Update Settings", class: 'btn btn-primary'