.main-content-header
  h1 Profile
  ol.breadcrumb
    li.breadcrumb-item
      a href=""  Dashboard
    li.breadcrumb-item.active
      span.active Profile

/ .py-5.text-center
/   img.d-block.mx-auto.mb-4 src="#{url_for(@user.avatar)}" alt="" width="72" height="72"
/   h2 = I18n.t(".actions.user.show.acount_info")
/ .row
/   .col-md-4.order-md-2.mb-4
/     h4.d-flex.justify-content-between.align-items-center.mb-3
/       span.text-muted = I18n.t(".actions.post.show.post_info")
/     ul.list-group.mb-3
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.post.total.update")
/         span.text-muted
/         = @statistic.total_post_of_user
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.post.total.public")
/         span.text-muted
/           = @statistic.total_posts_of_user_active
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.post.total.liked")
/         span.text-muted
/           = @statistic.total_likes
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.post.total.commented")
/         span.text-muted
/           =@statistic.total_comments
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.post.total.bookmarked")
/         span.text-muted
/           =@statistic.total_bookmarks
/   .col-md-8.order-md-1
/     h4.mb-3 = I18n.t(".actions.user.show.user_info")
/     ul.list-group.mb-3
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.user.show.username")
/         span.text-muted
/           = @user.username
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.user.show.email")
/         span.text-muted
/           = @user.email
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.user.show.ruler")
/         span.text-muted
/           = @user.role
/       li.list-group-item.d-flex.justify-content-between.lh-condensed
/         div
/           h6.my-0 = I18n.t(".models.user.show.created_at")
/         span.text-muted
/           = @user.created_at

/     = link_to edit_user_registration_path, class: 'btn btn-primary'
/       | #{I18n.t(".actions.user.management.change_profile")}
/     br
/     = link_to change_password_path, class: 'btn btn-danger'
/       | #{I18n.t(".actions.user.management.change_password")}
/     br
/   br