.main-content-header
  h1 Profile
  ol.breadcrumb
    li.breadcrumb-item
      a href=""  Dashboard
    li.breadcrumb-item.active
      span.active Profile
.row
  .col-lg-12
    .profile-settings-form.mb-30
      = form_for @profile, url: record_profile_path, html: { method: :post}  do |f|
        = render 'form', f: f