nav.navbar.navbar-expand.fixed-top.top-menu
  a.navbar-brand href="<%= dashboard_sales_path %>"
    = image_tag("large-logo.png", alt: "Large Logo", class: "large-logo")

    = image_tag("small-logo.png", alt: "Small Logo", class: "small-logo")
  .burger-menu.toggle-menu
    span.top-bar
    span.middle-bar
    span.bottom-bar

  .collapse.navbar-collapse#navbarSupportedContent
    ul.left-nav.d-none.d-md-block.navbar-nav
      li.nav-item.dropdown.mega-menu
        a.nav-linkd.ropdown-toggle href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          .mega-menu-btn
            Mega Menu
            i.icon data-feather="chevron-down"
        .dropdown-menu
          .container
            .row
              .col-lg-3.col-md-6
                h5.title Features
                a.dropdown-item
                  | Alerts
                a.dropdown-item
                  | Badges
                a.dropdown-item
                  | Buttons

              .col-lg-3.col-md-6
                h5.title Features
                a.dropdown-item
                  | Cards
                a.dropdown-item
                  | Dropdowns
                a.dropdown-item
                  | Forms

              .col-lg-3.col-md-6
                h5.title Features
                a.dropdown-item
                  | List Groups
                a.dropdown-item
                  | Modals
                a.dropdown-item
                  | Progress Bars

              .col-lg-3.col-md-6
                h5.title Features
                a.dropdown-item
                  | Tables
                a.dropdown-item
                  | Tabs
                a.dropdown-item
                  | Sign Up

    form.nav-search-form.d-none.d-sm-block
      input.form-control placeholder="Search..." type="text"
      button.search-success type="submit"
        i.icon data-feather="search"


    .ul.navbar-nav.right-nav.ml-auto
      li.nav-item.dropdown.message-box.d-none.d-sm-block
        a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
          .count-info
            i.icon data-feather="mail"
            span.ci-number.theme-bg
              span.ripple.theme-bg
              span.ripple.theme-bg
              span.ripple.theme-bg


        .dropdown-menu
          a.dropdown-item href="javascript:void(0);"
          .message-item
            .user-pic
              = image_tag("user/1.jpg", alt: "User Image", class: "rounded-circle")
              span.profile-status.online
            .chat-content
              span.message-title Aaron Rossi
              span.mail-desc Just sent a new comment!
            span.time 0 seconds ago

          a.dropdown-item href="javascript:void(0);"
          .message-item
            .user-pic
              = image_tag("user/2.jpg", alt: "User Image", class: "rounded-circle")
              span.profile-status.ofline
            .chat-content
              span.message-title Marco Gomez
              span.mail-desc Just sent a new comment!
            span.time 5 minutes ago


            a.dropdown-item href="javascript:void(0);"
            .message-item
              .user-pic
                = image_tag("user/3.jpg", alt: "User Image", class: "rounded-circle")
                span.profile-status.away
              .chat-content
                span.message-title Mitch Petty
                span.mail-desc Just sent a new comment!
              span.time 9:00 AM
            a.dropdown-item href="javascript:void(0);"
              | See all emails
              i.icon data-feather="chevron-right"

        <!-- Message Notification dropdown -->
      li.message-box.dropdown.nav-item
        a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
          .count-info
            i.icon data-feather="bell"
            span.ci-number
              span.ripple
              span.ripple
              span.ripple
        .dropdown-menu
          a.dropdown-item href="javascript:void(0);"
          .message-item
            .user-pic
              = image_tag("user/4.jpg", alt: "User Image", class: "rounded-circle")
              span.profile-status.online
            .chat-content
              span.message-title Aaron Rossi
              span.mail-desc Just sent a new comment!
            span.time 0 seconds ago
          a.dropdown-item href="javascript:void(0);"
          .message-item
            .user-pic
              = image_tag("user/5.jpg", alt: "User Image", class: "rounded-circle")
              span.profile-status.ofline
            .chat-content
              span.message-title Marco Gomez
              span.mail-desc Just sent a new comment!
            span.time 5 minutes ago
          a.dropdown-item href="javascript:void(0);"
          .message-item
            .user-pic
              = image_tag("user/6.jpg", alt: "User Image", class: "rounded-circle")
              span.profile-status.away
            .chat-content
              span.message-title Mitch Petty
              span.mail-desc
                | New order received!
                span.amount $250
            span.time 9:00 AM - 02-02-2019
          a.dropdown-item href="javascript:void(0);"
            | Check all notifications
            i.icon data-feather="chevron-right"


        <!-- Profile dropdown -->
      li.nav-item.dropdown.profile-nav-item
        a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
          .menu-profile
            span.name Aaron Rossi
            = image_tag("profile.jpg", alt: "Profile Image", class: "rounded-circle")
        .dropdown-menu
          = link_to  record_profile_path, class: 'dropdown-item'
            i.icon data-feather="user"
            | Profile
          a.dropdown-item href="inbox.html"
            i.icon data-feather="inbox"
            | Mailbox
          a.dropdown-item href="chat.html"
            i.icon data-feather="help-circle"
            | Support
          = link_to  record_profile_setting_path, class: 'dropdown-item'
            i.icon data-feather="settings"
            | Settings
          = link_to  auth_logout_path , method: :delete, class: 'dropdown-item'
            i.icon data-feather="log-out"
            | Logout
