<!-- Side Menu -->
.sidemenu-area.sidemenu-toggle.default
  nav.sidemenu.navbar.navbar-expand.navbar-light.hide-nav-title
    .navbar-collapse.collapse
      .navbar-nav
        .nav-item.dropdown
            a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
              .dropdown-title
                i.icon data-feather="grid"
                span.title
                  | Dashboard
                  i.icon.fr data-feather="chevron-right"
            .dropdown-menu
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Sales
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | eCommerce
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Analytics
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | CRM
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Project

        a.nav-link
          i.icon data-feather="inbox"
          span.title Inbox
        a.nav-link
          i.icon data-feather="message-square"
          span.title Chat
        a.nav-link
          i.icon data-feather="check-square"
          span.title Todo List
        a.nav-link
          i.icon data-feather="file-text"
          span.title Notes
        a.nav-link
          i.icon data-feather="search"
          span.title Search

        .nav-item.dropdown.super-color
          a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button" 
            .dropdown-title
              i.icon data-feather="filter" 
              span.title
                | UI Components
                i.icon.fr data-feather="chevron-right" 


          .dropdown-menu
            a.dropdown-item
              i.icon data-feather="bell"
              | Alerts
            a.dropdown-item
              i.icon data-feather="award"
              | Badges
            a.dropdown-item
              i.icon data-feather="arrow-right-circle"
              | Buttons
            a.dropdown-item
              i.icon data-feather="layers"
              | Cards
            a.dropdown-item
              i.icon data-feather="arrow-down-circle"
              | Dropdowns
            a.dropdown-item
              i.icon data-feather="file-text"
              | Forms
            a.dropdown-item
              i.icon data-feather="list"
              | List Groups
            a.dropdown-item
              i.icon data-feather="airplay"
              | Modals
            a.dropdown-item
              i.icon data-feather="trending-up"
              | Progress Bars
            a.dropdown-item
              i.icon data-feather="database"
              | Tables
            a.dropdown-item
              i.icon data-feather="triangle"
              | Tabs

        .nav-item.dropdown
          a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            .dropdown-title
              i.icon data-feather="user"
              span.title
                | User
                i.icon.fr data-feather="chevron-right"
            .dropdown-menu
              a.dropdown-item target="_blank"
                i.icon data-feather="user-plus"
                | Sign Up
              a.dropdown-item target="_blank"
                i.icon data-feather="user-check"
                | Login
              a.dropdown-item target="_blank"
                i.icon data-feather="unlock"
                | Forgot Password


        .nav-item.dropdown
          a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            .dropdown-title
              i.icon data-feather="bar-chart-2"
              span.title
                | Charts
                i.icon.fr data-feather="chevron-right"
            .dropdown-menu
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Line Charts
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Area Charts
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Column Charts
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Bar Charts
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Mixed Charts
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Pie and Donuts Charts
        .dropdown.nav-item
          a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            .dropdown-title
              i.icon data-feather="heart"
              span.title
                | Icons
                i.icon.fr data-feather="chevron-right"
            .dropdown-menu
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Feather Icons
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Line Icons
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Icofont Icons
        .nav-item.dropdown
          a.nav-link.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            .dropdown-title
              i.icon data-feather="file-text"
              span.title
                | Pages
                i.icon.fr data-feather="chevron-right"
            .dropdown-menu
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Users Card
              a.dropdown-item
                i.icon data-feather="chevron-right"
                span.title Notifications
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Time line
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Invoice Template
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Gallery
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Faq
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Pricing
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Profile
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Profile Settings
              a.dropdown-item
                i.icon data-feather="chevron-right"
                | Error 404