html
  head
    title QuanLiDoanhNghiep
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  body
    = render "layouts/admin_layout/navbar"
    = render "layouts/admin_layout/sidebar"
    .main-content.d-flex.flex-column.hide-sidemenu
      = toastr_flash
      = yield
      = render partial: "layouts/admin_layout/footer"
    / = toastr_flash
    / = yield
    / = render "layouts/admin_layout/footer"